<?xml version="1.0" encoding="utf-8"?>
<config>
    <bool name="reinforceAttachNodes">1</bool>
    <bool name="reinforceInversions">1</bool>
    <bool name="reinforceLaunchClamps">0</bool>

	<bool name="useVolumeNotArea">1</bool>
    <double name="massForAdjustment">0.01</double>
	
    <double name="breakForceMultiplier">4</double>
    <double name="breakTorqueMultiplier">4</double>
    <double name="breakStrengthPerArea">1500</double>
    <double name="breakTorquePerMOI">6000</double>

	<double name="inversionMassFactor">2</double>
	<double name="solutionMassFactor">2</double>

	<int name="extraLevel">0</int>
	
	<bool name="debug">0</bool>
</config>
